*.pyc
.idea/
tests/tmp/
build/
/venv/
/venv/

# General for macOS
.DS_Store
.AppleDouble
.LSOverride
.vscode
/.vs

# Python / build artifacts
__pycache__/
*.pyo
.pytest_cache/
dist/
*.egg-info/
log.txt
